
@model DemoReplicationAndSharding.Controllers.ReplController.Model

@{

}

<form method="post" asp-area="" asp-controller="Repl" asp-action="PostGet">
    <label>Index:</label>
    <input name="gi" type="number" step="1" value="@Model.GetIndex"/>
    <label>Result:</label>
    <input name="ge" type="text" maxlength="50" value="@Model.GetElement" />
    <input type="submit" value="Get" />
</form>

<form method="post" asp-area="" asp-controller="Repl" asp-action="PostAdd">
    <label>Element:</label>
    <input name="ae" type="text" , maxlength="50" value="@Model.AddElement" />
    <input type="submit" value="Add" />
</form>
